doctype html
html(lang='en')
  head
    title Welcome
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    .container.container-fluid
      .panel.panel-default
        .panel-heading
          h3.panel-title search for github user
        .panel-body
          form(action='/searchUser' method='POST', enctype="application/x-www-form-urlencoded")
            fieldset.form-group
              label(for='username') Username
              input#username.form-control(type='text', name='username', placeholder='Enter username')
            input.btn.btn-primary(type='submit', value='Submit')